@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
.navmenu{
  background-color: #d4b9ef
}

.main{
  background-color: #fff689;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}